.btn-group.btn-group-justified(role='group')
  .btn-group(role='group')
    a.btn.btn-success(routerlinkactive='router-link-active',
                      routerlink='/recipe/create')
      | Add New Recipe

h3 Recipe Read-Many Component
// <pre>{{ recipes | json }}</pre>
.media(*ngfor='let recipe of recipes')
  .media-left
    a(routerlinkactive='router-link-active',
      routerlink='/recipe/{{recipe.rid}}')
      img.media-object(alt='{{recipe.name}}',
                       src='{{recipe.image}}',
                       style='width: 100px; height: 100px;',
                       data-holder-rendered='true')
  .media-body
    h3.media-heading {{recipe.name}}
    p {{recipe.description}}

  .media-footer
    .social
      // Завтрак, Обед      
      i.fa.fa-folder-o    {{recipe.shema.purposes}}
      // 8 порций 
      i.fa.fa-cutlery     {{recipe.shema.yield}}
      // Рон Каленьюик
      i.fa.fa-user-o      {{recipe.author}}
      // 25.02.2017
      i.fa.fa-calendar-o  {{recipe.datePublished }}
      // 1:30
      i.fa.fa-clock-o     {{recipe.shema.totalTime}}   
      // Итальянская
      i.fa.fa-globe.fa-lg {{recipe.shema.cuisine}} 
      // Среднея
      i.fa.fa-usd.fa-lg   {{recipe.shema.complexity}} 
