.btn-group.btn-group-justified(role='group')
  .btn-group(role='group')
    a.btn.btn-success(routerlinkactive='router-link-active',
                      routerlink='/recipe/create')
      | Add New Recipe

h3 Recipe Read Component
// <pre>{{ recipes | json }}</pre>
.media(*ngfor='let recipe of recipes')
  .media-left
    a(routerlinkactive='router-link-active', routerlink='/recipe/{{recipe.rid}}')
      img.media-object(alt='{{recipe.name}}',
                       src='{{recipe.image}}',
                       style='width: 100px; height: 100px;',
                       data-holder-rendered='true')
  .media-body
    h4.media-heading {{recipe.name}}
    |  {{recipe.description}}

// simple pager
nav(aria-label='...')
  ul.pager
    li([ngclass]='{disabled:page === 1}')
      a((click)="setPage('previous')")
        span(aria-hidden='true') ←
        | Previous
    li
      a((click)="setPage('next')")
        | Next
        span(aria-hidden='true') →

